body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom:50px;
}

a {
  color: #00B7FF;
}

h1 a {
	text-decoration: none;
	color: black;
}

#header {
	padding-bottom: 20px;
}

#nav-bar {
	float: left;
	height: 600px;
	width: 200px;
	border-right: 3px groove black;
}

#nav-bar ul {
	list-style-type: none;
	padding-left: 0px;
}

#nav-bar li {
	padding-bottom: 20px;
}

#container-body {
	padding-left: 250px;
	width: 900px;
}

#welcome {
	padding-left: 50px;
	text-align: center;
}

#welcome span {
	margin-top: 20px;
}

.track {
	padding-top: 50px;
	text-decoration: none;
	color: black;
	text-align: center;
}

.track_playing {
	width: 500px;
	height: 500px;
	padding-left: 200px;
}

.track_playing button {
	margin-top: 50px;
}

.track p {
	text-align: center;
}

.track img {
	width: 100px;
	height: 100px;
	border: 1px groove black;
	cursor: pointer;
	padding: 2px;
	border-radius: 5px;
	margin: 5px;
	background-color: #f8f8f8;
	border-color: #e7e7e7;
}

.track_noimage {
	padding: 20px !important
}

.track_playing img {
	width: 100px;
	height: 100px;
	padding: 100px;
}

.track audio {
	width: 100%;
}

.upload_field {
	display: block;
	margin-top: 15px;
}

#footer
{
    background-color:rgb(240,240,240);
    position:fixed;
    bottom:0px;
    left:50px;
    right:50px;
    height:50px;
    margin-bottom:0px;
    padding:7px;
    border:1px solid;
    border-radius: 5px;
    border-color: #e7e7e7;
}

.seekBase {
  height: 20px;
  width: 100%;
  border: 1px solid #cccccc;
  cursor: pointer;
}
.seekLoad {
	height: 20px;
  width: 0;
  background-color: #00B7FF;
    cursor: pointer;
}


.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

table.centerTable, th, td {
    text-align: center;
}
hr{
	border-top: 1px solid #999;
}
.fakejumbo{
	background-color: #eee;
	padding:10px;
	border-radius: 5px;

}