body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom:50px;
  margin-top:50px;
  color:white ;
  background: rgb(18,19,20);
}

a {
  color: #ffa500;
}

h1 a {
	text-decoration: none;
	color: black;
}

.trackName{
    text-align: left;
    padding:10px 5px;
}


#header {
	padding-bottom: 20px;
}

#nav-bar {
	float: left;
	height: 600px;
	width: 200px;
	border-right: 3px groove black;
}

#nav-bar ul {
	list-style-type: none;
	padding-left: 0px;
}

#nav-bar li {
	padding-bottom: 20px;
}

#container-body {
	padding-left: 250px;
	width: 900px;
}

#welcome {
	padding-left: 50px;
	text-align: center;
}

#welcome span {
	margin-top: 20px;
}

.track {
	width: 150px;
    height: 220px;
    background-color: rgb(29,29,29);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.track_playing {
	width: 500px;
	height: 500px;
	padding-left: 200px;
}

.track_playing button {
	margin-top: 50px;
}


.track img {
	width: 150px;
	height: 150px;
	cursor: pointer;
	background-color: #f8f8f8;
}

.track_noimage {
	padding: 35px !important
}

.track_noimage img {
    width: 80px !important;
    height: 80px !important;
    cursor: pointer;
}

.track_playing img {
	width: 100px;
	height: 100px;
	padding: 100px;
}

.track audio {
	width: 100%;
}

.upload_field {
	display: block;
	margin-top: 15px;
}

#footer
{
    background-color:rgb(34,34,34);
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:50px;
    margin-bottom:0px;
    padding:7px;
    border-color: #e7e7e7;
}

.seekBase {
  height: 20px;
  width: 100%;
  border: 1px solid #cccccc;
  cursor: pointer;
}
.seekLoad {
	height: 18px;
  width: 0;
  background-color: #ffa500;
    cursor: pointer;
}


.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

table.centerTable, th, td {
    text-align: center;
}
hr{
	border-top: 1px solid #999;
}
.fakejumbo{
	background-color: #eee;
	padding:10px;
	border-radius: 5px;
}

.fyContainer{
    padding: 20px 100px 40px 100px;
}

.listsContainer{
    padding-bottom: 40px;
}

.listContainer{
     background-color: rgb(29,29,29);
     padding: 13px 100px;
     margin-top: 25px;
}
.textPageContainer{
    padding: 50px 100px 40px 100px;
    margin-top: 40px;
}
.uploadSongContainer{
    background-color: rgb(29,29,29);
}

.infoContainer{
    background-color: rgb(29,29,29);
    text-align: center;
}
.infoContainer > h1{
        font-size: 63px;
}
.modal-content{
  background: rgb(34,34,34) !important;
}