<div class="listsContainer">
<div class="listContainer" ng-repeat="playlist in playlists">
	<h3>{{playlist.name}}</h3>
	<table class="table centerTable" ng-show="playlist.songs.length>0">
		<thead>
			<tr >
				<th>Cover</th>
				<th>Song name</th>
				<th>Play</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="song in playlist.songs">
				<td><img style="width:52px;height:52px;" ng-src="{{song.coverUrl? song.coverUrl : '/images/quaver3.png'}}"/></td>
				<td style="vertical-align:middle">{{song.name}}</td>
				<td>
					<a style="font-size:36px;" ng-show="isPlaying&&currentPlaying.id===song._id" pause-music><span class="glyphicon glyphicon-pause"></span></a>
					<a style="font-size:36px;" ng-show="!isPlaying||currentPlaying.id!==song._id"  ng-click="playSongInPlaylist(playlist,song)"><span class="glyphicon glyphicon-play"></span></a>
				</td>
				<td style="vertical-align:middle"><button class="btn btn-danger" ng-click="deleteSongInPlaylist(playlist,song)"><span class="glyphicon glyphicon-trash"></span></button></td>
			</tr>
		</tbody>
	</table>
	<uib-alert ng-show="playlist.songs.length===0">No songs added yet</uib-alert>
</div>
<button style="margin-top:20px; background-color:#ffa500" class="btn btn-warning pull-right" ng-click="createPlaylist()">Create new playlist</button>
</div>
<script type="text/ng-template" id="addPlaylistModal.html">
	<div class="modal-header">
		<h3 class="modal-title">Add new playlist</h3>
	</div>
	<div ng-form="addPlaylistForm" class="modal-body form-horizontal">
		<div class="form-group">
			<label class="control-label col-sm-2" >Name:</label>
			<div class="col-sm-10">
				<input style=" background-color: rgb(29,29,29);color:white" class="form-control" ng-model="name" required placeholder="Enter name">
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="addPlaylistForm.$invalid">OK</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>
</script>