<div class="track track_playing">
	<img src="/images/quaver3.png">
	<p><%=track%></p>
	<audio src="/track_file/<%=track%>" type="audio/mpeg" controls="controls"></audio>
	
	<form method="post" action="/tracks/<%=track%>?_method=delete">
	    <button type="submit" onClick="return confirm('Delete: <%=track%>. Are you sure? ');">
	      Delete track
	    </button>
  	</form>
</div>